* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: lato, 'sans-serif';
}

body {
	padding: 50px;
}

.text-center {text-align: center;}
.title {
	font-size: 3em;
	font-weight: lighter;
	margin-bottom: 15px;
	color: #3498db;
}
.title-rule {
	width: 350px;
	background-color: #3498db;
	margin: 0 auto;
	height: 3px;
	opacity: 0.8;
	border: none;
	border-radius: 10px;
	margin-bottom: 150px;
}




/* let's get to the form */
#awesome-form {
	display: block;
	width: 600px;
	margin: 0 auto;
}
input {
	border: 2px solid #3498db;
	padding: 15px 40px;
	color: #3498db;
	font-size: 18px;
	background: #fff;
	outline: none;
	display: inline-block;
}


input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 2px solid #3498db;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="text"]:active, input[type="password"]:active {
	outline: none;
}
.input-group {
	margin-right: 20px;
	position: relative;
	display: inline-block;
}
input[type="text"], input[type="password"] {
	padding: 15px 0;

}

/* Submit button*/

input[type="submit"] {
	cursor: pointer;
	transition : all 0.2s linear;
}
input[type="submit"]:active, input[type="submit"]:hover {
	background-color: #3498db;
	color: #fff;
}


/* Styling our Hero LABEL */
label {
	/* Firstlys et /input-group to relative*/
	position: absolute;
	/*top: 50%;*/
	top: 50%;
	left: 0px;
/* The follwoing code makes the label lie exactly behind the user input text*/
	transform: translateY(-50%);

	/* This disabels selection of label text*/
	pointer-events: none;

	font-size: 18px;
	color: #999;
	transition : all 0.2s linear;
}

input[type="text"]:focus + label, input[type="password"]:focus + label,
input.has-value + label {
	top: -10px;
	font-size: 12px;
	color: #aaa;
}


.website-link-heading {
	text-align: center;
	margin-top: 50px;
	font-size: 1em;
	font-weight: 500;
	color: #3498db;
}
#love {
	font-size: 2em;
}
.website-link {
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	color: #3498db;
	margin-left: 5px;
}